:root {
    --myred: rgb(82, 7, 7);
}
* {
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
  }

  /* HEADER AND NAV */
.Headerbar{
    padding: 10px;
    background-color: var(--myred);
    color: white;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 3;
    border: solid 1px black;
}

.Headerbar header h1{
    display: flex;
    font-size: 35px;
    flex-wrap: wrap;
    flex-direction: row;
    color: white;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: .2px;
    float: left;
    z-index: 4;
}

.Headerbar nav {
    float: right;
    flex-wrap: wrap;
    list-style: none;

}
nav ul li{
    display: inline-block;
    font-size: 25px;
    padding: 2px 10px;
    margin-top: 0;
    justify-content: flex-end;
    vertical-align: middle;
}
nav ul li:hover{
    background-color: rgba(0, 0, 0, 0.203);
    z-index: 2;
}
nav ul li a{
    text-decoration: none;
    color: white;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: .2px;
}

/* BANNER / HERO */
.banner {
    margin-top: 55px;
    max-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100%;
    position: relative;
}
.banner img{
    width: 100%;
}
.banner .bannerheader {
    position: absolute;
    bottom: 8px;
    right: 2%;
    border: solid .1vw;
    padding: .6vw;
    background-color: var(--myred);
    color: white;
    font-size: 1.4vw;
    z-index: 2;
    width: 33vw;
    text-align: center;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: .2px;
}

/* MAIN PAGE */

.fullcontent {
    display: grid;
    flex-direction: column;
}
.fullcontent section {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}
.contenthead {
    font-size: 35px;
    border-right: 5px solid var(--myred);
    width: 15%;
    min-width: 190px;
    float: left;
    color: var(--myred);
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: .2px;
}
.contentbody {
    width: 80%;
    flex: 1 0 0;
    padding: 10px;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    display: flex;
    flex-wrap: wrap;
}
/* ABOUT ME */

.About-me .contentbody {
    font-size: 22px;
    text-align: left;
}
.About-me .contentbody p{
    margin-bottom: 10px;
}

/* WORK SECTION */
.workbody {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100%;
    padding: 2rem;
}

.card {
    border: solid;
    position: relative;
    text-align: center;
    justify-content: space-around;
    margin: 2%;
    min-width: 280px;
    -webkit-filter: brightness(70%);
}
.card a {
    max-height:100%; max-width:100%;
    min-width: 100%; min-height: 100%;
}
.card img {
    max-height:100%; max-width:100%;
    min-width: 100%; min-height: 100%;
    object-fit: fill;
}
.card:hover {
    -webkit-filter: brightness(100%);
}
.card .card-header {
    position: absolute;
    bottom: 8px;
    left: -10px;
    border: solid black;
    padding: 20px;
    background-color: var(--myred);
    font-size: 30px;
    color: white;
    z-index: 1;
}
.card .card-header a{
    text-decoration: none;
    color: white;
}


.main-card {
    width: 80%;

}
.work-card {
    width: 38%;
}

/* CONTACT SECTION */

.Contactinfo ul li {
    display: inline-block;
    list-style: none;
    padding: 2px;
    font-size: 25px;
    font-weight: bold;
}
.Contactinfo ul li a{
    text-decoration: none;
        color: var(--myred);
}

/* SCREEN SIZE VARIABLES */

@media screen and (max-width: 992px) {
    .contenthead {
        font-size: 25px;
        width: 15%;
        min-width: 135px;
    }
    
    .Contactinfo ul li {
        display: inline-block;
        padding: 2px;
        font-size: 20px;
        font-weight: bold;
    }
    .card .card-header {
        padding: 15px;
        font-size: 25px;
    }
}
@media screen and (max-width: 768px) {

    .Headerbar nav ul li{
        display: none;
    }
    .Headerbar nav{
        float: left;
    }

    .Headerbar:hover .pagelinks li {
            display: flex;
            flex-direction: column;
            font-size: smaller;
            justify-content: center;
    }
    
    .work-card {
        width: 80%;
    }
    .card .card-header {
        padding: 10px;
        font-size: 20px;
    }


}